NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCMzi1mc6I8SQIJEWPf6a-PyxXpl9ZjKDs"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="skunkworks-scouting.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="skunkworks-scouting"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="skunkworks-scouting.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="802344339131"
NEXT_PUBLIC_FIREBASE_APP_ID="1:802344339131:web:39984664f123f2505d0b9e"
FIREBASE_CLIENT_EMAIL="""
FIREBASE_PRIVATE_KEY=""
TBA_API_KEY=""